ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 150px;
    background-color: lightblue;
}
li a{
    display: block;
    color: black;
    padding: 20px;
    text-decoration: none;
}
li{
    text-align: center;
    font-size: medium;

}
li a.active{
    background-color: orange;
    color: white;
}
li a:hover:not(.active){
    background-color: orange;
    color: white;
}